
*.user
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/ui_mainwindow.h
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/.qmake.stash
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/bauer.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/dame.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/feld.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/figur.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/GUISchach.exe
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/GUISchach.ilk
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/GUISchach.pdb
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/GUISchach.vc.pdb
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/koenig.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/lauefer.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/main.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/mainwindow.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/moc_mainwindow.cpp
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/moc_mainwindow.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/moc_predefs.h
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/nofigur.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/spiel.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/springer.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/turm.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/debug/xml_austausch.obj
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/Makefile
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/Makefile.Debug
build-GUISchach-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/Makefile.Release
